<link rel="stylesheet" href="suivievaluation.component.css">
<title>{{title}}</title>
<main>
    <body>
        <div>
             <!-- slider  -->
             <div class=" h-screen absolute left-0 top-25 right-25 bottom-0 ">
                <!-- container -->
            
                <aside
                    class="flex flex-col items-center w-80 bg-white text-gray-700 shadow h-full ">
                    <!-- Side Nav Bar-->
            
                    <div class="h-16 flex items-center w-full">
                        <!-- Logo Section -->
                    
                            <img
                                class="h-24 w-32 mx-auto"
                                src="../../assets/ucad5.webp"
                                alt="svelte logo" />
                    
                    </div>
            
                    <ul class="m-5 text-white">
                        <!-- Items Section -->
                        <li class="bg-blue-900 w-56 text-center hover:text-white text-2xl m-5">
                            <a
                                href="absence"
                                class="h-16 px-6  flex justify-center items-center w-full
                                focus:text-orange-500">
                               RELEVER ABSENCE
                            </a>
                        </li>
            
                        <li class="bg-blue-900 w-56 text-center hover:text-white text-2xl m-5">
                            <a
                                href="cahierdetext"
                                class="h-16 px-6 flex justify-center items-center w-full
                                focus:text-orange-500">
                                CAHIER DE TEXTE
                            </a>
                        </li>
                        <li class="bg-blue-900 w-56 text-center hover:text-white text-2xl m-5">
                            <a
                                href="suivievaluation"
                                class="h-16 px-6 flex justify-center items-center w-full
                                focus:text-orange-500">
                                SUIVI FICHE EVALUATION
                            </a>
                        </li>
            
                    
          

                    </ul>
            
                    <div class="mt-auto h-16  items-center w-full  text-white">
                        <!-- Action Section -->
                       <a href="Acceuil"> <button
                            class="h-16  mx-auto flex  justify-center items-center
                            w-full  bg-blue-900 w-56 focus:outline-none">
                            <svg
                                class="h-5 w-5 text-white hover:text-white"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round">
                                <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
                                <polyline points="16 17 21 12 16 7"></polyline>
                                <line x1="21" y1="12" x2="9" y2="12"></line>
                            </svg>
                                
                        </button>
                    </a>

                    </div>
            
                </aside>
            </div>

                 <!-- content -->
            <div class="bg h-screen ml-80">
                   
                <table class="min-w-full bg-white border border-gray-300 z-20">
                    <thead>
                      <tr>
                        <th class="px-0 py-2 bg-blue-100 border-b">selectionner</th>
                        <th class="px-6 py-3 bg-blue-100 border-b">N*fiche</th>
                        <th class="px-6 py-3 bg-blue-100 border-b">ID_MODULE</th>
                    
                      
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of data" class="border-b">
                        <td class="px-6 py-4 text-center  bg-slate-600" > <button (click)="openDetails(item)">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                          </svg></button>
                           </td>
                        <td class="px-6 py-4 text-center text-2xl bg-slate-600 ">{{ item.id }}</td>
                        <td class="px-6 py-4 text-center text-2xl bg-slate-600">{{ item.module_id }}</td>
  
                      </tr>
                    </tbody>
                  </table>
                    <!-- fenetre detail-->
                    <div *ngIf="selectedItem" class="fixed top-0 left-0 w-full h-full flex items-center justify-center bg-black bg-opacity-50 z-50">
                        <div class="bg-white p-8 rounded-lg shadow-lg">
                          <h2 class="text-2xl font-bold mb-4">Détails du cahier de texte</h2>
                          <table class="w-full mb-4">
                            <tr>
                              <td class="font-bold pr-2">Module ID:</td>
                              <td>{{ selectedItem.module_id }}</td>
                            </tr>
                            <tr>
                              <td class="font-bold pr-2">Syllabus:</td>
                              <td>{{ selectedItem.syllabus }}</td>
                            </tr>
                            <tr>
                              <td class="font-bold pr-2">Objectifs:</td>
                              <td>{{ selectedItem.objectifs }}</td>
                            </tr>
                            <tr>
                              <td class="font-bold pr-2">Contenu:</td>
                              <td>{{ selectedItem.contenu }}</td>
                            </tr>
                            <tr>
                              <td class="font-bold pr-2">Support:</td>
                              <td>{{ selectedItem.support }}</td>
                            </tr>
                            <tr>
                              <td class="font-bold pr-2">Respect du contenu:</td>
                              <td>{{ selectedItem.respect_contenu }}</td>
                            </tr>
                            <tr>
                              <td class="font-bold pr-2">Volume horaire:</td>
                              <td>{{ selectedItem.volume_horaire }}</td>
                            </tr>
                            <tr>
                              <td class="font-bold pr-2">Utilisation du vidéoprojecteur:</td>
                              <td>{{ selectedItem.video_projecteur }}</td>
                            </tr>
                            <tr>
                              <td class="font-bold pr-2">Utilisation du tableau noir:</td>
                              <td>{{ selectedItem.tableau_noir }}</td>
                            </tr>
                            <tr>
                              <td class="font-bold pr-2">Utilisation du matériel informatique:</td>
                              <td>{{ selectedItem.materiel_informatique }}</td>
                            </tr>
                            <tr>
                              <td class="font-bold pr-2">Ponctualité:</td>
                              <td>{{ selectedItem.ponctuel }}</td>
                            </tr>
                            <tr>
                              <td class="font-bold pr-2">Claireté:</td>
                              <td>{{ selectedItem.clair }}</td>
                            </tr>
                            <tr>
                              <td class="font-bold pr-2">Compétences pédagogiques:</td>
                              <td>{{ selectedItem.competences_pedagogiques }}</td>
                            </tr>
                            <tr>
                              <td class="font-bold pr-2">Participation:</td>
                              <td>{{ selectedItem.participation }}</td>
                            </tr>
                            <tr>
                              <td class="font-bold pr-2">Disponibilité:</td>
                              <td>{{ selectedItem.disponibilite }}</td>
                            </tr>
                            <tr>
                              <td class="font-bold pr-2">Clarté des explications:</td>
                              <td>{{ selectedItem.clarte_explications }}</td>
                            </tr>
                            <tr>
                              <td class="font-bold pr-2">Commentaires:</td>
                              <td>{{ selectedItem.commentaires }}</td>
                            </tr>
                          </table>
                          <button class="px-4 py-2 bg-blue-500 text-white rounded" (click)="closeDetails()">Fermer</button>
                        </div>
                      </div>
                <!--tableau pour les module-->
                <table class="min-w-full bg-white border border-gray-300 z-20">
                    <thead>
                      <tr>
                        <th class="px-6 py-3 bg-blue-100 border-b">ID_MODULE</th>
                        <th class="px-6 py-3 bg-blue-100 border-b">NOM_MODULE</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of datam" class="border-b">
                        <td class="px-6 py-4 text-center text-2xl bg-slate-600 ">{{ item.id }}</td>
                        <td class="px-6 py-4 text-center text-2xl bg-slate-600">{{ item.nom_module }}</td>

                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </body>
</main>
